.product {
     /* display: flex;  */
    margin: 10px;
    padding: 6px;
    min-width: fit-content;
    max-height: 700px;
    min-width: 300px;
    background-color:white;
    z-index: 1;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap: 0px;
    width: 60%;
  }
  img{
    width: 100%;
  }
  .product__rating {
    display: flex;
  }
  
   .product > img {
    max-height: 200px;
    width: 10%;
    margin-bottom: 15px;
  }
   
  .product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  
  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
    height: 100px;
    margin-bottom: 15px;
  }
   .product>div{
    width: 100%;
    gap: -1000px;
  } 